/* Hero.module.css */

.heroContainer {
    display: flex;
    border-bottom: 4px solid #f87171; 
    padding: 24px; 
  }
  
  .textContainer {
    width: 600px;
    margin: 96px; 
  }
  
  .heroTitle {
    font-size: 48px;
    font-family: 'Mono', monospace;
    font-weight: bold;
    background: linear-gradient(to right, #4f46e5, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .heroDescription {
    font-size: 1.25rem; 
    margin-top: 36px; 
    font-family: 'Serif', serif;
  }
  
  .imageContainer {
    margin: 44px; 
  }
  
  .profileImage {
    max-width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
  }
  